<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>

    <link rel="stylesheet" href="__PUBLIC__/css/normalize.css">
    <link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/css/font-awesome.min.css">
    <link rel="stylesheet" href="__PUBLIC__/css/themify-icons.css">
    <link rel="stylesheet" href="__PUBLIC__/css/flag-icon.min.css">
    <link rel="stylesheet" href="__PUBLIC__/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="__PUBLIC__/scss/style.css">

    <style>
        .white {
            color: white;
        }
        .margin-top {
            margin-top: 20px;
        }
    </style>

</head>
<body class="bg-dark">

    <div class="sufee-login d-flex align-content-center flex-wrap">
        <div class="container">
            <div class="login-content">

                <div class="login-logo">
                    <h2 class="align-content white">教学计划管理平台</h2>
                </div>
                <div class="login-form">
                    <form>
                        <div class="form-group">
                            <label>用户名</label>
                            <input type="email" class="form-control" placeholder="单击此处键入用户名">
                        </div>
                        <div class="form-group">
                            <label>密码</label>
                            <input type="password" class="form-control" placeholder="单击此处键入密码">
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Remember Me
                            </label>
                            <label class="pull-right">
                                <a href="#">忘记密码?</a>
                            </label>

                        </div>
                        <button type="submit" class="btn btn-success btn-flat m-b-30 m-t-30">Sign in</button>
                        <div class="register-link m-t-15 text-center margin-top">
                            <p>还没有账号 ? <a href="#"> 注册</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="__PUBLIC__/js/vendor/jquery-2.1.4.min.js"></script>
    <script src="__PUBLIC__/js/popper.min.js"></script>
    <script src="__PUBLIC__/js/plugins.js"></script>
    <script src="__PUBLIC__/js/main.js"></script>

</body>
</html>